<div class="login-container">
  <div class="card" id="card-login">
    
    <div class="d-flex align-items-center gap-3">
      <img src="/assets/img/logo.svg" alt="Logo" id="logo">
      <h2 id="login-title" class="mb-0">Login</h2>
    </div>
    <form (ngSubmit)="login()" class="frm" ngNativeValidate>
      <input type="email" class="input" [(ngModel)]="email" name="email" placeholder="Email" required />
    <div class="password-wrapper">
    <input 
      [type]="isPasswordVisible ? 'text' : 'password'" 
      class="input password-input" 
      [(ngModel)]="password" 
      name="password" 
      placeholder="Password" 
      required 
    />
    <i [class]="isPasswordVisible ? 'fa-solid fa-eye-slash password-icon' : 'fa-solid fa-eye password-icon'" 
      (click)="togglePasswordVisibility()">
    </i>
  </div>
    @if (errorMessage()) {
        <div class="alert alert-error">
          <i class="fa-solid fa-triangle-exclamation"></i>
          <span>{{ errorMessage() }}</span>
        </div>
      }
      <button type="submit" class="btn btn-primary" id="btn-login">Sign In</button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/register']"> Register</button>
    </form>
  </div>
</div>